
body{
    box-sizing: border-box;
    background: #ccc;
  }
  

  h1 {
    color: orange;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
  #weather {
    background-color: lightblue;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 10px;
    font-family: cursive; 
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .card-body p {
    font-size: 18px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
  .card-body p::first-letter {
    font-weight: bold;
    color: red;
  }
#feedback {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#feedbackForm {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
@media (max-width: 600px) {
  #feedbackForm {
      width: 100%;
  }
}
